@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

input,
textarea {
    outline: transparent;
}

textarea {
    width: 100%;
    padding: 0.25rem;
}

img,
svg,
video {
    display: block;
    max-width: 100%;
}

svg {
    color: var(--color-dark-grey);
}

body {
    color: var(--text-color-primary);
    font-family: 'Roboto', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Header */
.nav {
    max-width: 1300px;
    margin: auto;
}

.nav-left {
    gap: 10px;
    padding-inline: 10px;
    width: 50%;
    margin: auto;
    justify-content: space-around;
}

.ulist {
    gap: 50px;
    list-style: none;
    font-size: .9rem;
    font-weight: 500;
}

.ulist a {
    padding-inline: 10px;
}

.ulist a:hover {
    color: #151515c0;
}

.nav-right {
    gap: 10px;
    padding-inline: 5px;
    width: 50%;
    justify-content: space-evenly;
}

.search {
    background-color: rgba(230, 230, 230, 0.818);
    align-items: center;
    border-radius: 1.2rem;
    padding: 5px 15px 5px 5px;
    cursor: pointer;

}

.search-bar {
    flex-wrap: wrap;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px 210px 5px 20px;
    font-size: .9rem;
    color: #000;
}

.search-icon {
    width: 17px;
    color: gray;
}

.user-sec {
    gap: 5px;
    align-items: end;
    color: #141414;
}

.user-icon {
    width: 22px;
}

.user {
    font-size: .9rem;
    font-weight: 500;
}

.cart-sec {
    gap: 5px;
    align-items: end;
    color: #141414;
}

.cart-icon {
    width: 22px;
}

.cart {
    font-size: .9rem;
    font-weight: 500;
}

/* carousel-sec */
hr {
    border-top: 2px;
    border: none solid gray;
}

main {
    max-width: 1300px;
    margin: auto;
}

.carousel img {
    display: flex;
    justify-content: center;
}

.category-sec {
    margin-top: 50px;
}

.popular-category {
    color: #141414ea;
    font-size: 1.5rem;
    margin-block: 10px;
    font-weight: 600;
}

.category-gapbox {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.category-img img {
    width: 70px;
}

.category-card {
    border-radius: .3rem;
    padding: 10px;
    box-shadow: 0 0 2px #c6c6ca;
    cursor: pointer;
}

.category-card:hover {
    transform: scale(1.01)
}

.category-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 5px;
    font-size: .9rem;
}

.category-about div:nth-child(1) {
    font-weight: 600;
}

.products {
    background-color: #ffffff;
    margin-top: 30px;
}

.product-heading {
    color: #141414ea;
    font-size: 1.5rem;
    margin-block: 10px;
    font-weight: 600;
}

.product-box {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    border-radius: .3rem;
    padding: 10px;
    box-shadow: 0 0 4px #c6c6ca;
    cursor: pointer;
    gap: 10px;
    padding: 10px;
    border-radius: .5rem;
}

.product-img {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block: 10px;
}

.product-img img {
    width: 150px;
    margin: auto;
}

.product-card-discription {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block: 10px;
}

/* product-page style */

.pg-product .product-detail {
    display: flex;
    margin-top: 50px;
}

.pg-product .pg-section {
    flex-basis: 50%;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .product-media__carousel img {
    border-radius: .3rem;
}

.product-about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block-start: 20px;
}

.product-dis {

    width: 450px;
}

.rating {
    display: flex;
    align-items: center;
    font-size: .7rem;
    gap: 5px;
    color: gray;
}

.product-price {
    font-size: 1.2rem;
    font-weight: 500;
    margin-block: 30px 30px;
}


.quantity-sec {
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 15px;
}

.quantity-left {
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: 0 0 2px #c6c6ca;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 3rem;
    color: #000000ad;
}

.max-btn svg {
    width: 20px;
    cursor: pointer;
    margin-right: 25px;
}

.min-btn svg {
    width: 20px;
    margin-left: 25px;
    cursor: pointer;
}

.max-btn svg:hover,
.min-btn svg:hover {
    color: #000;
    transition: all .1s;
}

.quantity-right {
    color: #3f3f3fd4;
    font-size: .9rem;
    font-weight: 600;
}

.product-pg__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 50px;
    margin-inline: 20px;
}

.btn {
    cursor: pointer;
    border-radius: 2rem;
    border: none;
    padding: .8rem .5rem;
    font-size: .9rem;
    background-color: #0ea5e9;
    color: #FFF;
}

.btn1 {
    background-color: #f57224;
    color: #FFF;
}

.btn:focus {
    background-color: transparent;
    border: 1.1px solid #0ea5e9;
    color: #0ea5e9;
}

.btn1:focus {
    background-color: transparent;
    border: 1.1px solid #f57224;
    color: #f57224;
}

.product-pg__info {
    margin-top: 50px;
    border: 1px solid rgba(162, 162, 162, 0.364);
    border-radius: .4rem;
    margin-inline: 25px;
}

.info-box {
    display: flex;
    gap: 10px;
    padding: 15px;
}

.product-info__left {
    color: #0ea5e9;
}

.product-info__right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-right {
    font-size: .91rem;
    font-weight: 500;
}

.ir1 {
    text-decoration: underline;
    font-size: .8rem;
    color: rgb(72, 72, 72);
    cursor: pointer;
}

.ir2 {
    font-size: .8rem;
    color: rgb(72, 72, 72);
    cursor: pointer;
}

/* Cart Style */

.pg-cart .product-detail {
    display: flex;
    margin-top: 50px;
}

.cart-left {
    flex-basis: 70%;

}

.product-mediawrapper .item-selector {
    justify-content: space-between;
    padding: 15px;
    font-size: .8rem;
    color: #565656;
    box-shadow: 0 0 2px #c6c6ca;
    margin-block: 0 10px;
}

.item-select {
    gap: 10px;
    cursor: pointer;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #565656;
    border-radius: 3px;
    background-color: white;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #565656;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.item-delete {
    cursor: pointer;
    gap: 5px;
}

.item-delete svg {
    width: 18px;
}

.cart-item-list {
    font-size: .8rem;
    color: #565656;
    box-shadow: 0 0 2px #c6c6ca;
    margin-block: 0 10px;

}

.list-head {
    padding: 15px;
}

.store-list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.store-name {
    display: flex;
    align-items: center;
    gap: 5px;
}

.store-icon svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item-box {
    justify-content: space-between;
}

.cart-box-left {
    gap: 20px;
    padding: 10px 5px;
}

.checkbox {
    display: flex;
    padding: 10px;
    align-items: center;
}

.cart-item-discription {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    padding-right: 50px;
    gap: 5px;
}

.cart-item-name {
    color: #000;
    font-size: .9rem;
    font-weight: 500;
}

.cart-item-about {
    font-size: .8rem;
    width: 250px;
}

.cart-box-right {
    justify-content: space-around;
    align-items: center;
    width: 20vw;
}

.cart-box-price {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.cart-box-price div:nth-child(1) {
    font-size: 1rem;
    color: #000;
    font-weight: 500;
}

.price-box-icons {
    gap: 10px;
}

.cart-quantity-box {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    gap: 15px;
}

.cart-quantity-box div:nth-child(1) {
    background-color: #f5f5f5;
    padding: 3px;
    cursor: pointer;

}

.cart-quantity-box div:nth-child(3) {
    background-color: #e1e1e1;
    padding: 3px;
    cursor: pointer;
}

.cart-right {
    flex-basis: calc(100% - 70%);
    margin-inline: 10px;
}
.cart-right-wrapper {
    position: sticky;
    box-shadow: 0 0 2px #c6c6ca;
    max-height: max-content;
    padding: 10px;
    border-radius: .3rem;

}

.cart-location-sec {
    font-size: .8rem;
    color: #565656;
    gap: 5px;
    padding: 15px 5px;
}

.cart-pricing-sec {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-block: 10px;
    gap: 20px;
}

.cart-pricing-heading {
    font-size: 1.2rem;
}

.cart-pricing-detail div:nth-child(1),
.cart-shipping-box div:nth-child(1){
    color: #565656;
    font-size: .9rem;
}

.cart-pricing-detail div:nth-child(2),
.cart-shipping-box div:nth-child(2){
    font-size: .9rem;
}
.voucher-sec{
    margin: 25px 20px;
}
.voucher-holder{
    border: 1px solid #c4c4c4;
    border-radius: .2rem;
    padding: 10px 50px 10px 10px;
    font-size: .9rem;
    color: #000;
}
.voucher-btn{
    background-color: #0ea5e9;
    border: none;
    border-radius: .2rem;
    font-size: .9rem;
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
}
.voucher-btn:hover{
    background-color: #0ea4e9e6;
}
.subtotal-amount{
    padding: 10px;
}
.subtotal-items{
font-size: .9rem;
}
.subtotal-price{
font-weight: 500;
color: #242424;
}
.checkout-btn{
    margin: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkout-btn button{
    background-color: #f57224;
    color: #fff;
    font-size: .9rem;
    border: none;
    padding: 10px 80px;
    border-radius: .3rem;
    cursor: pointer;
}
.checkout-btn button:hover{
    background-color: #f36c1e;

}